/* Customisation of default html */
html, body {
	margin: 0px;
	padding: 0px;
	background: #D8D8D8;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 16px;
	color: #222222;
}

/* Customisation of default headers */
h1 {
	margin: 0;
	padding 0;
}

h2 {
	margin: 0;
	padding 0;
}

h3 {
	margin: 0;
	padding 0;
}

h4 {
	margin: 0;
	padding 0;
}

h5 {
	margin: 0;
	padding 0;
}

h6 {
	margin: 0;
	padding 0;
}

/* Custom CSS */

.hidden {
	display: none;
}

/* page defaults */
#page {
	width: 768px;
	margin: auto;
	background: #EFEFEF; /* Light Grey */
}

/* Navigation block defaults */
#navigation {
	height: 32px;
	border-bottom: solid 1px #808080;
}

/* Header block defaults */
#header {
	height: 64px;
	border-bottom: solid 1px #808080;
}

#header_right {
	height: 64px;
	width: 384px;
	float: right;
	text-align: right;
	border-bottom: solid 1px #808080;
}

#header_left {
	height: 64px;
	width: 384px;
	float: left;
	text-align: left;
	border-bottom: solid 1px #808080;
}

#header dl {
	margin: 0px;
	padding: 0px;
}

#header dt {
	float: left;
	width: 254px;
	text-align: center;
	font-size: 90%;
	font-family: "Courier New", Monospace;
	border-left: solid 1px #808080;
	border-right: solid 1px #808080;
}

/* Content block defaults */
#content_header {
	float: left;
	width: 126px;
	text-align: centre;
	font-weight: 600; /* 400 is Normal, 700 is bold */
	font-size: 128%;
	font-variant: small-caps;
	//border: solid 1px #DDDDDD;
}

#content {
	float: right;
	width: 630px;
	padding: 4px;
	border-bottom: solid 1px #DDDDDD;
	border-left: solid 1px #DDDDDD;
}

#content h3 {
	font-variant: small-caps;
}

#content h4 {
	font-variant: small-caps;
	font-style: italic;
	font-size: 90%;
}

#content p {
	text-align: left;
	color: blue;
	font-variant: normal;
}

/* Footer block defaults */
#footer {
	clear: both;
	height: 64px;
	background: orange;
	border-bottom: solid 1px #808080;
}

#seperator {
	clear: both;
	height: 1px;
	border-bottom: solid 1px #808080;
}
