/* Customisation of default html */
html, body {
	margin: 2px;
	padding: 2px;
	background: #D8D8D8;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 16px;
	color: #222222;
}

/* Customisation of default headers */
h1 {
	margin: 0;
	padding 0;
}

h2 {
	margin: 0;
	padding 0;
}

h3 {
	margin: 0;
	padding 0;
}

h4 {
	margin: 0;
	padding 0;
}

h5 {
	margin: 0;
	padding 0;
}

h6 {
	margin: 0;
	padding 0;
}

/* Custom CSS */

.hidden {
	display: none;
}

/* page defaults */
#page {
	width: 768px;
	margin: auto;
	background: #EFEFEF; /* Light Grey */
}

/* Navigation block defaults */
#navigation {
	height: 32px;
	border-bottom: solid 1px #808080;
}

/* Header block defaults */
#header {
	height: 64px;
	border-bottom: solid 1px #808080;
}

#header_right {
	height: 64px;
	width: 384px;
	float: right;
	text-align: right;
	border-bottom: solid 1px #808080;
}

#header_left {
	height: 64px;
	width: 384px;
	float: left;
	text-align: left;
	border-bottom: solid 1px #808080;
}

#header dl {
	margin: 0px;
	padding: 0px;
}

#header dt {
	float: right;
	width: 128px;
	margin: 0px;
	padding: 4px;
}

/* Footer block defaults */
#footer {
	clear: both;
	height: 64px;
	background: orange;
	border-bottom: solid 1px #808080;
}

